.resposta {
  display: none;
  color: green;
}

.botoes-container {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  flex-wrap: wrap;
}

.botoes-container button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}

.botoes-container button i {
  font-size: 16px;
  opacity: 0.5;
}

@media print {
  .botoes-container {
    display: none;
  }
}

.dados-prova {
  margin: 20px auto;
  width: 80%;
  line-height: 2;
}

.linha-editavel {
  display: inline-block;
  border-bottom: 1px solid black;
  min-width: 50px;
  padding: 2px 4px;
  outline: none;
  border: none;
  background: transparent;
}

h3 {
  margin-top: 60px;
}

/* Botão fixo no canto superior direito, com estilo igual aos demais */
#botaoModelo {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
}

#botaoModelo i {
  font-size: 16px;
  opacity: 0.5;
}

#botaoModelo i:hover {
  opacity: 1;
}
/* Fonte padrão para celular (até 600px) */
body {
  font-size: 10px;
}

/* Tablet (entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Computador (acima de 1024px) */
@media (min-width: 1025px) {
  body {
    font-size: 24px;
  }
}
